<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<title>Home</title>
</head>

<body class="body-home">
	<div>
		<div class="container">
			<!-- Header -->
			<div class="row align-items-center">
				<div class="col">
					<br>
					<div class="inicio-de-sesion">

						<form th:action="@{/login}" method="post">
							<h1>Iniciar Sesion</h1>

							<div class="form-group row">

								<label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
								<br> <input type="text" name="correo"
									placeholder="Ingrese su Usuario" class="form-control">

							</div>


							<div class="form-group row">
								<label for="contraseña" class="col-sm-2 col-form-label">Contraseña</label>
								<br> <input type="password" name="password"
									placeholder="Ingrese su Contraseña" class="form-control">

							</div>

							<div class="d-grid gap-2">
								<input type="submit" class="btn btn-primary" value="Entrar">
							</div>
							<br> <a href="#">Olvidaste tu contraseña?</a><br> <a
								href="#">Registrarse</a>


						</form>
					</div>
					<br> <br> <br> <br>





				</div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div>
		<div th:insert="layouts/footer :: footer"></div>
	</div>
		
			<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>