@charset "ISO-8859-1";

.mifooter {
	background: black;
	padding: 8px 16px 8px 16px;
	color: white;
	text-align: center;
	bottom: 0;
	
	/*

.mifooter {
	position: absolute;
	width: 100%;
	height: 40px;
}*/
}

/** body {	
	margin: 0;
		 padding: 0;
		 color: rgb(0, 0, 0);
		 background:url(../img/download.jpg) no-repeat center top;
		 background-size: cover;
  		font-family: sans-serif;
  		height: 100vh;	
}*/

.body-modal{
	margin: 0;
	padding: 0;
	background-color:antiquewhite ;
	background-size: cover;
	
}


.body-home {
	margin: 0;
	padding: 0;
	background: url(../img/fondo.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.inicio-de-sesion {
	width: 320px;
	height: 440px;
	border-radius: 15px;
	background: black;
	color: white;
	top: 50%;
	left: 50%;
	padding: 70px 30px;
}

.body-cliente {
	margin: 0;
	padding: 0;
	background: url(../img/fondo.png) center top;
	background-size: cover;
	color: white; font-family : sans-serif;
	height: 100vh;
	font-family: sans-serif;
}

form button[type="submit"] {
	width: 100%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: #000;
}

td {
	background-color: black;
	color: white;
}

.body-resultado {
	margin: 0;
	padding: 0;
	background: url(../img/fondo2.jpg) center top;
	background-size: cover;
	color: white; font-family : sans-serif;
	height: 100vh;
	font-family: sans-serif;
}

.body-producto {
	margin: 0;
	padding: 0;
	background: url(../img/background.jpg) center top;
	background-size: cover;
	color: white; font-family : sans-serif;
	height: 100vh;
	font-family: sans-serif;
}

.body-cliente{
	margin: 0;
	padding: 0;
	background: url(../img/fondo2.jpg);
	background-size: cover;
}

.body-venta{
	margin: 0;
	padding: 0;
	background: url(../img/fondo2.jpg);
	background-size: cover;
}

.menu{
	color: orange;
}

.menu1{
	color: grey;
}

.lista{
	overflow-x:scroll;
}

.columna 
	{ 
 	position: sticky;
 	left: 0;
 	background: #800000; 	 
}

.form
{
	background: #80ffff; 	 
	
}